<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Hello page!!!</title>
</head>
<body>
<h1 th:text="${message}"></h1>
<h2>Hello world!+</h2>
<a href="/listTrainee">Trainee list</a>
<br>
<br>
<a href="/trainee/getTraineeAddPage">Add trainee</a>
<br>
<a href="/listTrainer">Trainer list</a>
<br>
<br>
<a href="/trainer/getTrainerAddPage">Add trainer</a>
<br>
<a href="/listTraining">Training list</a>
<br>
<br>
<a href="/training/getTrainingAddPage">Add training</a>
</body>

</html>