<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Training save!</title>
</head>
<body>
<form action="#" th:action="@{/trainings/getTrainingAddPage}" method="post" th:object="${trainingAdd}">

    <input type="text" name="trainingName" th:field="*{trainingName}">
    <br>
    <input type="text" name="trainingTypeId" th:field="*{trainingTypeId}">
    <br>
    <input type="text" name="trainingDate" th:field="*{trainingData}">
    <br>
    <input type="text" name="trainingDuration" th:field="*{trainingDuration}">
    <br>
    <br>
    <button type="submit">Save</button>
    <br>
</form>
</body>
</html>